#navbar{
    text-align: left
  }
  @media(min-width:30em){
    body{
      background-color: white;
    }
  }
  header{
    font-size: 27px;
    font-weight: bold;
  }
  section{
    background-color: rgb(170,187,245);
  }
  div{
    height: 40px;
  }
  a{
    color: black;
    font-size: 20px;
  }
  body{
    display: flex;
    justify-content: left;
  }